body {
  main {
    .side-bar {
      .side-bar-left, .side-bar-right {
        position: fixed;
        top: 0;
        z-index: 2;
        background-color: black;
        width: 70px;
        height: 100vh;
        transition: 0.2s;
      }
      .side-bar-right {
        right: 0;
      }
      .side-bar-left {
        left: 0;
        .lobo {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 70px;
          max-width: 100%;
          padding: 9px 9px;
          transition: 0.2s;
        }
        .icons {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          .icons-top,  .icons-down {
            display: flex;
            flex-direction: column;
            
            a {
              padding: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              &:hover {
                background-color: #1f1f1f;
              }
              img {
                width: 34px;
                height: 34px;
                background-color: transparent;
              }
            }
            button {
              display: none;
              background-color: transparent;
              border: none;
              transition: 0.2s;
            }
          }
          .icons-top {
            margin-top: 200px;
          }
        }
      }
    }
    .boxes {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100vh;

      margin: 0px;

      .banner {
        margin: 69px 69px 0 69px;
        position: relative;
        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 100%;
          height: 100%;
          min-height: 682px;
          height: calc(100vh - 69px);
          background-size: cover;
          background-image: url(/src/img/fullbanner-e-commerce-certo-bg.png);
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: 0;
          background-color: rgb(12, 23, 41)
        }
        .text-box-top {
          margin: 70px 70px 0 70px;
          h3 {
            &:first-child {
              font-family: 'Permanent Marker', sans-serif;
              font-weight: 400;
              font-size: 50px;
            }
            font-family: 'Permanent Marker', sans-serif;
            font-weight: 400;
            font-size: 100px;
            line-height: 70px;
            color: #FF9356;
          }
          p {
            margin-top: 40px;
            max-width: 500px;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #D5D5D5;
          }
          h2 {
            font-family: 'Permanent Marker', sans-serif;
            font-weight: 400;
            font-size: 35px;
            margin-top: 10px;
            color: #4DF4FF;
          }
        }
        .text-box-down {
          display: flex;
          justify-content: flex-start;
          margin: 180px 0 0 70px;

          #orc {
            width: 163px;
            height: 38px;
            margin-right: 25px;
            background-color: #FF5656;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            border: none;
            border-radius: 2px;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
              background-color: rgba(255, 86, 86, 0.75);
              color: rgba(255, 255, 255, 0.75);
            }
          }
          #duvidas {
            width: 163px;
            height: 38px;
            background-color: transparent;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            border: 2px solid #FF9356;
            border-radius: 2px;
            transition: 0.2s;
            cursor: pointer;
           
            &:hover {
              background-color: #FF9356;
              color: rgba(255, 255, 255, 0.75);
          }
          }
        }
      .img-rigth {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
      }
    }
    @media (max-width: 991px) {
      .side-bar {
        .side-bar-right {
          right: -70px;
          transition: 0.2s;
        }
        .side-bar-left {
          position: fixed;
          left: -70px;
          transition: 0.2s;
          .lobo {
            left: -70px;
            transition: 0.2s;
          }
        }
      } 
      .boxes {
        .banner {
          margin: 0;
          background-position: top;
          .text-box-top {
            margin: 70px 0 0 20px;
            max-width: 100%;
            
            h3 {
              font-size: 80px;
              &:first-child {
                font-size: 38px;
              }
            }
            p {
            max-width: 400px;
            }
          }
        .img-rigth {
          display: none;
        }
        }
      }
    }
    @media (max-width: 560px) {
      .boxes{  
        .banner {
          &__wrapper {
            .text-box-top {
              h3 {
                font-size: 60px;
                line-height: 40px;
                &:first-child {
                  font-size: 21px;
                }
              }
              p {
                font-size: 12px;
                max-width: 270px;
              }
              h2 {
                font-size: 22px;
              }
            }
            .text-box-down {
              margin: 70px auto 0 20px;
              #orc, #duvidas {
                width: 130px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    @media (min-width: 1281px) {
      .boxes{
        .banner{
          &__wrapper {
            
          }
        }
      }
    }
  }
}
body.open-menu {
  main {
    .side-bar {
      @media (max-width: 991px) {
        .side-bar-left {
          left: 0;
          .lobo {
            left: 0;
          }
        }
      }
    }
  }
}