body {
  header {
    background-color: black;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .box {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      align-items: center;

      .xburguer {
        display: none;
      }
      .kclan {
        margin-left: 90px;
        transition: 0.2s;
      }
    }

    .menu {
      flex: 0 0 auto;
      nav {
        ul {
          display: flex;
          justify-content: space-between;
          padding: 0;
          li {
            list-style-type: none;
            margin: 0 20px;
            &:last-child {
              margin-right: 100px;
            }

            a {
            padding: 25.5px 10px;
            color: white;
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            cursor: pointer;
            transition: 0.2s;

              &:hover {
                background-color: #1f1f1f;
              }
            }
          }
        }
      }
    }
    @media (max-width: 991px) {
      .box {
        .kclan {
          margin-left: 20px;
          transition: 0.2s;
        }
        .menu{
          position: fixed;
          left: -230px;
          top: 70px;
          background-color: black;
          width: 230px;
          height: 100vh;
          transition: 0.2s;
          nav {
            ul {
              flex-direction: column;
              align-items: flex-start;
              li {
                margin: 10px 20px;
                &:last-child {
                  margin-right: 20px;
                }
                a {
                  font-size: 18px;
                  padding: 10px 20px;
                  &:hover {
                    background-color: unset;
                  }
                }
              }
            }
          }
        }    
        .xburguer{
          position: fixed;
          top: 20px;
          left: 145px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: 0;
          padding: 0;
          height: 30px;
          width: 30px;
          transition: 0.2s;
          cursor: pointer;
          }
          
          .xburguer span{
            background-color: white;
            height: 4px;
            width: 25px;
            border-radius: 25px;
            margin: 2px 0px;
            transition: .3s;
          }
        }
    }
  }
}
body.open-menu {    
  @media (max-width: 991px) {
    .box {
      .kclan {
        margin-left: 90px;
      } 
      .xburguer{
        left: 215px;
        transition: 0.2s;
      }
      .xburguer span:nth-child(1){
          transform: rotate(45deg); 
          margin: 0 0 -2px 0;
      }
      .xburguer span:nth-child(2){
          display: none;
      }
      .xburguer span:nth-child(3){
          transform: rotate(-45deg); 
          margin: -2px 0 0 0;
      }
      .menu {
        left: 69px;
        top: 69px;
        transition: 0.2s;
      }
    }
  }
}